@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
#menu-d .mbr-brand__name {
  font-size: 16px;
}
#menu-d.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-d .mbr-navbar__hamburger {
  color: #ffffff;
}

#header4-6 P {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#header4-7 P {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#header4-8 P {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#header4-b P {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
#header4-b H1 {
  color: #000000;
}


#header4-e H1 {
  color: #4c6972;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}
#header4-e .btn {
  font-family: 'Montserrat', sans-serif;
}
